body {
    width: 600px;
    margin: 0px auto 0px auto;
}

div#navigation {
    text-align: center;
    border-bottom: 4px solid black;
}

div#navigation a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 3px 10px 3px 10px;
    margin: 0px 10px 0px 10px;
}

code {
    font-size: 14px;
}

pre code {
    clear: left;
    display: block;
    padding: 8px;
    margin-bottom: 2em;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
}
