/_cache/*
/_site/posts/*_flymake.html
/hakyll_flymake.hs
*.hi
*.o
/hakyll
/drafts/memo
/drafts/memo2
/drafts/HECFS/Main
/drafts/HECFS/Main.hs.0
/drafts/HECFS/Main.hs.1
/drafts/HECFS/Main.hs.2
/drafts/HECFS/Main.hs.3
/drafts/HECFS/Main.hs.dec
