/_cache/*
/_site/posts/*_flymake.html
/hakyll_flymake.hs
*.hi
*.o
/hakyll
/drafts/memo
/drafts/memo2
/drafts/HECFS/Main
/drafts/HECFS/Main.hs.0
/drafts/HECFS/Main.hs.1
/drafts/HECFS/Main.hs.2
/drafts/HECFS/Main.hs.3
/drafts/HECFS/Main.hs.dec
/drafts/HECFS/~/blog/drafts/HECFS/cabal-dev/cabal.config
/drafts/HECFS/~/blog/drafts/HECFS/cabal-dev/packages-7.4.1.conf/package.cache
/drafts/HECFS/~/blog/drafts/HECFS/cabal-dev/packages/00-index.tar
/drafts/KMeans
/drafts/HECFS/cabal-dev/*
/drafts/HECFS/KMeans.h
/drafts/HECFS/KMeans.h.0
/drafts/HECFS/KMeans.h.1
/drafts/HECFS/KMeans.h.2
/drafts/HECFS/KMeans.h.3
/drafts/HECFS/KMeans.hs
/drafts/HECFS/KMeans.hs.0
/drafts/HECFS/KMeans.hs.1
/drafts/HECFS/KMeans.hs.2
/drafts/HECFS/KMeans.hs.3
/drafts/HECFS/KMeans.hs.dec
/drafts/HECFS/hecfs-pipes
/_site/css/default.css.bak
/drafts/HECFS/test/*
/drafts/stl-containers/Test
/drafts/stl-containers/c++/libstl.a
/drafts/stl-containers/c++/test
/drafts/haksup/dist/*
/drafts/stl-containers/dedupeffi
/drafts/stl-containers/dist/*
/drafts/Dude
/drafts/HECFS/src/Main.hs.dec
/drafts/HECFS/src/node1/Main.hs
/drafts/HECFS/src/node2/Main.hs
/drafts/HECFS/src/node3/Main.hs
/drafts/HECFS/src/node4/Main.hs
