<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lambda Play - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <link rel="alternate"
          type="application/rss+xml"
          title="Lambda Play"
          href="/rss.xml" />
  </head>
  <body>
    <center>
    <table cellpadding="0,0,0,0" cellspacing="0,0,0,0" border='0' bgcolor="white">
      <tr>
	<td rowspan='2' height='190' width='88' style="background-image:url(../images/tw_left.png); background-repeat:no-repeat;" />
	<td height='109' style="background-image:url(../images/tw_middle_m.png); background-repeat:repeat-x;"><img src="/images/tw_middle_l.png" height='109' border='0' /></td>
	<td height='109' align="right" style="background-image:url(../images/tw_middle_m.png); background-repeat:repeat-x;"><img src="/images/tw_middle_r.png" height='109' border='0' /></td>
	<td rowspan='2' height='190' width='93' style="background-image:url(../images/tw_right.png); background-repeat:no-repeat;"/>
      </tr>
      <tr>
	<td colspan='2' valign="top" width='709' height='81' bgcolor="white">
	  <h1>Lambda Play - $title$</h1>
	  <div id="navigation">
            <a href="/">Home</a>
            <a href="/posts.html">All posts</a>
          </div>	  
	</td>
      </tr>
      <tr>
	<td width='88' style="background-image:url(../images/tw_left_bg.png); background-repeat:no-repeat;" />
	<td colspan='2' width='709' valign="top">
	  $body$
	</td>
	<td width='88' align="right" style="background-image:url(../images/tw_right_bg.png); background-repeat:no-repeat;" />
      </tr>
    </table>
  </body>
</html>
